:host {
	display: block;
	width: 100%;
	box-sizing: border-box;
	max-width: 1200px;
}

.column {
	margin: 1em;
	background-color: #f5f5f5;
}

.card {
	padding: 1em;
	position: relative;
}

paper-tabs {
	max-width: 300px;
}

core-field {
	min-height: 2.125em;
}

pl-input[read]::shadow #read {
	display: none;
}

.card:hover pl-input[read]::shadow #read {
	display: initial;
}

core-field > label, label.spacer {
	width: 30%;
	display: inline-block;
}

core-field > label {
	margin: .5em 0px;
}

#profile-image {
	position: absolute;
	right: 0px;
	width: 120px;
	height: 120px;
	background: url(images/placeholder.png);
	background-size: cover;
}

#profile-image paper-button {
	position: absolute;
	bottom: 10px;
	right: 10px;
	left: 10px;
	opacity: 0;
	transition: opacity .2s;
}

#profile-image:hover paper-button, #profile-image paper-button:focus {
	opacity: 1;
}

.personal-row, .column {
	min-width: 320px;
}

@media (max-width: 639px) {
	.column {
		margin: 0px;
	}
}

core-tooltip::shadow #tooltip {
	width: 300px;
	white-space: normal;
	line-height: normal;
}

pl-input-decorator {
	width: 30%;
	min-width: 220px;
}

.tip-handle {
	width: 1.4em;
	height: 1.4em;
	border-radius: .7em;
	background-color: #ccc;
	color: #fff;
	line-height: 1.4em;
	text-align: center;
	display: inline-block;
}

.button-row {
	margin: .5em 0px;
}